{% extends "base.html" %}
{% load static %}
{% block title %}
  Анфиса для друзей. Подробное описание мороженого
{% endblock %}
{% block content %}
  <h1 class="pb-2 mb-0">Классический пломбир</h1>  
  <div class="row mt-3">
    <div class="col-12 col-md-6">
      <h2>Описание</h2>
      <p>Настоящее мороженое, для истинных ценителей вкуса. Если на столе появляется пломбир — это не надолго.</p>      
    </div> 
    <div class="col-12 col-md-6 mb-3">
      <img 
       class="img-fluid" 
       height="400" width="300"
        scr="{% static 'img/image-holder.png' %}"
      >      
    </div>
  </div>     
{% endblock %}
 