{% extends "base.html" %}
{% load static %}
{% block title %}
  Анфиса для друзей. Каталог мороженого
{% endblock %}
{% block content %}
  <h1 class="pb-2 mb-0">Каталог мороженого</h1>
    <div class="row">
    {% for ice_cream in ice_cream_list %}
      <div class="col-6 col-md-4 my-1">
        <div class="card">
          <img 
            class="img-fluid card-img-top" 
            height="400" width="300"
            {% if forloop.counter0 == 0 %}
              src="{% static 'img/plombeer.png' %}"
            {% else %}
              src="{% static 'img/image-holder.png' %}"
            {% endif%}
          >
          <div class="card-body">
            <h5 class="card-title">{{ ice_cream.title }}</h5>
            <p class="card-text">
              {{ ice_cream.description|truncatewords:10 }}
            </p>
            <a class="mt-3 regular-link" href="ice_cream_detail.html">
            <a class="mt-3 regular-link" href="{% url 'ice_cream:ice_cream_detail' forloop.counter0 %}">
              Подробнее -->           
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
{% endblock %}